force-app/main/default/flows/MyScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Initialize_Array</name>
        <label>Initialize Array</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>varArray</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Todo -1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varArray</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Todo -0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MyScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MyAssignment</name>
        <label>MyAssignment</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varTodos</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myLwcScreenFlow.todos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>MyScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MyScreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>MyScreen</name>
        <label>MyScreen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MyAssignment</targetReference>
        </connector>
        <fields>
            <name>myLwcScreenFlow</name>
            <extensionName>c:lwcScreenFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>todos</name>
                <value>
                    <elementReference>varArray</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LwcOutputAttribute</name>
            <fieldText>&lt;p&gt;{!myLwcScreenFlow.todos}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AssignedVariable</name>
            <fieldText>&lt;p&gt;{!varTodos}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialize_Array</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varArray</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTodos</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
